.gear-row {
  display: flex;
  justify-content: space-between;
}

/* Style for the custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for the links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.rotation-check {
  margin-right: auto;
  margin-left: 5px;
}


body {background-color: #222629; color: #C8CED1}
table {background-color: transparent !important;}
#bodyDiv {display: flex; flex-wrap: wrap; justify-content: center}
#input {background-color: #222629; color: #C8CED1}
button {width: 70px; margin: 0px 0px 8px 0px; background-color: #474b4f; color: #C8CED1}
#lineSelect {width: 170px; margin-left:auto; padding: 0px 8px 0px 0px; background-color: #474b4f; color: #C8CED1}
#barContainer {width: 300px; border: 100px; background-color: #474b4f; color: #C8CED1; margin: auto; display: none}
#progressBar {width: 0%; height: 30px; text-align: center; background-color: #C8CED1}
#resultContainer {grid-column: 1/span 3; display: flex; flex-direction: row; justify-content: left; margin: 0 auto 0 0;}
#resultContainer table { border-collapse: collapse; }
#resultContainer th {text-align: left}
#resultContainer td {padding: 0px 14px 0px 0px; border-bottom: 1px solid #474b4f; }
#resultContainer > div {display:inline-table; align-self: flex-start}
#selectRow td { padding: 0px 8px 12px 0px; border-bottom: 0px}
#timeline {display:none}

#Grid      {display: inline-grid; grid-gap: 5px 40px; justify-content:start; grid-template-rows: auto auto; grid-template-columns: 450px 300px 300px}
#header    {grid-column: 1/span 3; grid-row: 1; margin: 0px auto 0px auto; text-align: center}
#header h2 {margin-bottom: 7px}
#leftCol   {display: inline-grid; grid-column: 1; grid-row: 2; grid-template-columns: 300px 150px; grid-template-rows: /*545px*/ auto auto; grid-column-gap: 0px; justify-content: top }
#gear      {grid-column: 1; grid-row: 1;}
 /* max-height: 100%} */
#enchants  {grid-column: 2; grid-row: 1; padding-left: 5px;}
#enchants > .hInput {
  margin-bottom:5px;
}
 
/* max-height: 100%} */
#bottomleft{display: inline-grid; grid-column: 1/3; grid-row: 2;}
#talents   {grid-column: 1; grid-row: 1;}
#bonuses   {grid-column: 2; grid-row: 1; margin-left: 10px}
#middleCol {grid-column: 2; grid-row: 2}
#rightCol  {grid-column: 3; grid-row: 2}
input {background-color: #474b4f; color: #C8CED1; }

code {height: 60vh; width: 700px; display:block;padding:.5rem 1rem; overflow:auto; background-color: #101113; white-space: pre;}
pre {margin: 0; padding:0}

#talents .talent-input {width: 17px}

#calcSettings button {margin-left: auto}

#gear select {width: 200px; margin-left:auto; padding: 0px 8px 0px 0px; background-color: #474b4f; color: #C8CED1}
#enchants select {width: 145px; margin-left:auto; padding: 0px 8px 0px 0px; background-color: #474b4f; color: #C8CED1}
#buffs select {width: 160px; margin-left:auto; padding: 0px 8px 0px 0px; background-color: #474b4f; color: #C8CED1}
#bossSettings select {width: 50px; margin-left:auto; padding: 0px 8px 0px 0px; background-color: #474b4f; color: #C8CED1}
#playerstats input {margin-left:4px; width:40px}
#playerstats .playerstats {margin-left:auto; margin-right: 20px}
/* #levelSelect select {width:60px} */
#levelSelect select {width:50px}
.playerstatcontainer {margin-right:40px}


#mhweptypeselect select, #ohweptypeselect select {width: 90px}
#gear #mainhandcontainer, #gear #offhandcontainer {margin-left: auto;}

.hInput-rotation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hInput {display: flex; flex-direction: row; align-content: center; align-items: center; padding: 0 0 3px 0}
.hInput input {margin-left:auto; width:50px}
.hInput .inputSwing {margin-left:0; width:50px}
.hInput label {margin: 0}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance: textfield;}